.dropdown-2
 .selectdiv
  %label
   %select#sub_category_id.form-control.1{:name => "sub_category", :style => "width:220px"}
    %option Product or Service
    - subcategories.sort_by(&:sort_priority).each do |category|
     %option{:value => "#{category.url}"}= category.display_name(I18n.locale)
