<div class="container-fluid pads-25 contain">
  <div class="row">
    <div class="margin-top-120">
      <h1 class="text-center colr-text"><b>PET STORE</b></h1>
      <p class="text-center colr-text">Find a pet care partner.
    </div>
  </div>
  <div class="container md-margin-bottom-10">
    <div class="container seting">
      <div class="col-sm-3">
        <div class="row media-fr-marg-btm">
          <div class="dropdown">
            <button class="btn btn-block btn-u-bright dropdown-toggle hover-set" type="button" data-toggle="dropdown">CHOOSE A PET
            <i class="fa fa-caret-down" aria-hidden="true"></i></button>
            <ul class="dropdown-menu drop-cs">
              <li><a href="#">Option-1</a></li>
              <li><a href="#">Option-2</a></li>
              <li><a href="#">Option-3</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row media-fr-marg-btm">
          <div class="dropdown">
            <button class="btn btn-block btn-u-bright dropdown-toggle hover-set" type="button" data-toggle="dropdown">CHOOSE A SERVICE
            <i class="fa fa-caret-down" aria-hidden="true"></i></button>
            <ul class="dropdown-menu drop-cs">
              <li><a href="#">Option-1</a></li>
              <li><a href="#">Option-2</a></li>
              <li><a href="#">Option-3</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="row media-fr-marg-btm">
          <div class="dropdown">
            <button class="btn btn-block btn-u-bright dropdown-toggle hover-set" type="button" data-toggle="dropdown">LOCATION
            <i class="fa fa-map-marker" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="row">
          <button type="button" class="btn btn-block btn-u-dark hover-set"> SEARCH</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container margin-top-for-cntainer1">
  <h2 class="style-for-howitworks"><b class="brder-btm">How It Works</b></h2>
  <hr class="star-primary">
   <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12 text-center">
         <img src="/assets/search-for-wire.jpg" alt="edit.png">
         <h2 class="text-center style-for-owner-list">SEARCH</h2>
         <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at euismod quam, et sagittis leo. Pellentesque aliquet, orci et venenatis vestibulum, est nunc mollis lorem, accumsan convallis orci orci in mi. Vivamus ac scelerisque massa. Integer fermentum ultricies quam, faucibus ornare lacus. Vivamus sit amet viverra dui. Donec turpis urna, ultricies a mi at, facilisis accumsan dolor.</p>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 text-center">
         <img src="/assets/calender-1.jpg">
         <h2 class="text-center style-for-owner-list">BOOK</h2>
         <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at euismod quam, et sagittis leo. Pellentesque aliquet, orci et venenatis vestibulum, est nunc mollis lorem, accumsan convallis orci orci in mi. Vivamus ac scelerisque massa. Integer fermentum ultricies quam, faucibus ornare lacus. Vivamus sit amet viverra dui. Donec turpis urna, ultricies a mi at, facilisis accumsan dolor.</p>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 text-center">
         <img src="/assets/heart2.png", style="width: 204px;">
         <h2 class="text-center style-for-owner-list">ENJOY</h2>
         <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at euismod quam, et sagittis leo. Pellentesque aliquet, orci et venenatis vestibulum, est nunc mollis lorem, accumsan convallis orci orci in mi. Vivamus ac scelerisque massa. Integer fermentum ultricies quam, faucibus ornare lacus. Vivamus sit amet viverra dui. Donec turpis urna, ultricies a mi at, facilisis accumsan dolor.</p>
      </div>
   </div>
</div>


<section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <!-- <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div> -->
                        <img src="/assets/dog.jpg" class="img-responsive width-100" alt="Cabin">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <!-- <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div> -->
                        <img src="/assets/cat.jpg" class="img-responsive width-100" alt="Slice of cake">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <!-- <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div> -->
                        <img src="/assets/nimo.jpg" class="img-responsive width-100" alt="Circus tent">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <!-- <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div> -->
                        <img src="/assets/small-animal.jpg" class="img-responsive width-100" alt="Game controller">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <!-- <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div> -->
                        <img src="/assets/reptile.jpg" class="img-responsive width-100" alt="Safe">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <!-- <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div> -->
                        <img src="/assets/fish3.jpg" class="img-responsive width-100" alt="Submarine">
                    </a>
                </div>
            </div>
        </div>
    </section>
<section>
  <div class="container border-5">
    <div class="col-sm-12">
      <h2 class="text-center md-margin-bottom-10"><b class="brder-btm">GET STARTED</b></h2>
    </div>
    <div class="col-sm-8">
      <p class="margin-top-media">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at euismod quam, et sagittis leo. Pellentesque aliquet, orci et venenatis vestibulum, est nunc mollis lorem, accumsan convallis orci orci in mi. Vivamus ac scelerisque massa. Integer fermentum ultricies quam, faucibus ornare lacus. Vivamus sit amet viverra dui. Donec turpis urna, ultricies a mi at, facilisis accumsan dolor.
      </p>
      <button type="button" class="btn btn-default btn-lg padin-ar">Join</button>
      <h2>BECOME A PARTNER</h2>
      <p class="margin-top-media">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at euismod quam, et sagittis leo. Pellentesque aliquet, orci et venenatis vestibulum, est nunc mollis lorem, accumsan convallis orci orci in mi. Vivamus ac scelerisque massa. Integer fermentum ultricies quam, faucibus ornare lacus. Vivamus sit amet viverra dui. Donec turpis urna, ultricies a mi at, facilisis accumsan dolor.</p>
    </div>
    <div class="col-sm-4">
      <img src="/assets/small-animal.jpg " class="width-100-w">
    </div>
  </div>
</section>
<section>
  <div class="container border-5">
    <div class="col-sm-12">
      <h2 class="text-center md-margin-bottom-10"><b class="brder-btm">TRUST WORTHY SUPPORT</b></h2>
    </div>
    <div class="col-sm-4">
      <img src="/assets/small-animal.jpg " class="width-100-w">
    </div> 
    <div class="col-sm-8">
      <p class="col-md-offset-2 margin-top-media">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at euismod quam, et sagittis leo. Pellentesque aliquet, orci et venenatis vestibulum, est nunc mollis lorem, accumsan convallis orci orci in mi. Vivamus ac scelerisque massa. Integer fermentum ultricies quam, faucibus ornare lacus. Vivamus sit amet viverra dui. Donec turpis urna, ultricies a mi at, facilisis accumsan dolor. Nam et ligula sed arcu porttitor posuere at in mi. Suspendisse potenti. Maecenas eget felis ut turpis scelerisque mollis vel eget justo. Ut quis viverra purus. Nulla convallis molestie metus, vel maximus lacus rutrum consequat. Nam et scelerisque orci. In sed feugiat nisl, vel molestie elit,Nam et ligula sed arcu porttitor posuere at in mi. Suspendisse potenti. Maecenas eget felis ut turpis scelerisque mollis vel eget justo. Ut quis viverra purus. Nulla convallis molestie metus.</p>
      <button type="button" class="btn btn-default btn-lg padin-ars">Join</button>
    </div>
  </div>
</section>


<div class="container-fluid text-media-cen">
  <div class="row">
    <nav class="navbar navbar-default" role="navigation">
  <div class="container">
      <ul class="nav navbar-nav navbar-left mar-5-tp">
        <li><a href="#">ABOUT</a>
        </li>
        <li><a href="#">CONTACT</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right font-size-32">
        <li><a href="#"><i class="fa fa-facebook-square"  aria-hidden="true"></i></a>
        </li>
        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        </li>
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  </div>
</div>