body {
    font-family: 'Source Sans Pro', helvetica, sans-serif;
    font-size: 1.4em !important;
    line-height: 1.5em;
}



.container.pads-25{
padding: 25px;   
}    


.video-container{background:#ccc;padding:15px 15px 0px 15px;}

.vid {position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; margin-bottom: 25px;} 
.vid iframe, .vid object,.vid embed {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.video-mobile-headline{display: none; margin:0px;}

/*Mobile Rendering. Add to the very end of your CSS file.*/
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
.video-container{padding-bottom:10px;}
.flex-video { padding-top: 0;}
}

@media (max-width: 767px){
    .video-mobile-headline{display: block;}
    }

.btn.focus, .btn:focus, .btn:hover {
    color:#fff;
    text-decoration: none;
}

.container.padding-15 {
	padding:15px;
}
.height-width {
	width: 400px;
	height:40px;
}
.serch-css {
	color: #fff;
    background-color: #674fa7;
    padding: 8px;
    font-size: 25px;
    margin-top: 0px;

}

li a.clr {
	color: #fff;
	font-size: 20px;
}
.contain h1.colr-text {
    color: #fff;
    letter-spacing: 1px;
    font-size: 50px;
    text-shadow: 2px 1px #000;
}
.contain p.colr-text {
    color: #fff;
    font-size: 26px;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-shadow: 1px 1px #000;
}

.margin-top-120 {
	margin-top: 150px;
}
.md-margin-bottom-10 {
    margin-bottom: 100px;
}
button.btn.btn-default.btn-lg.padin-ar {
    padding: 5px 50px;
}

button.btn.btn-default.btn-lg.padin-ars {
    padding: 5px 50px;
}
b.brder-btm {
  border-bottom: 3px solid grey;
}
.bg-cl {
	background-color: #fff !important;
}
.border-left-none {
	border-left: none;
}

 .homepage{   
    span.style-css-serch {
    	  background-color: blue;
        font-size: 23px;
        color: #fff;
        padding: 7px 10px 10px 10px;
        position: relative;
        top: 6px;
        left: -4px;

    }
    .dropdown-menu.drop-cs {
            width: 100%;
        text-align: center;
        border-radius: 0px;

    }
    .style-set-inpu-serch-4 {
        width: 100%;
        height: 50px;
        padding-left: 10px;
        border-radius: 0px;
        border: 1px solid lightgrey;

    }

 .btn-u-dark {
    height: 55px; 
    border-radius: 0px;
    background-color: #214984;
    color: #fff;
    font-size: 18px;
}

    .btn.focus, .btn:focus, .btn:hover.hover-set {
        color:grey;
    }

 .btn-u-bright {
    height: 55px;
    border-radius: 0px;
    background-color: #fff;
    color: grey;
    font-size: 18px;
    border-left: 1px solid grey;
    cursor: auto;
    margin-top: 14px;
    box-shadow: none;
}
    .btn-u {
        height: 50px;
        border-radius: 5px;
        background-color: #ffffff;
        border: none;
        color: grey;
        font-size: 18px;
    }
    img.hei-width {
        height: 40px;
        width: 40px;
    }
    .marg-top-10px {
      margin-top: 20px;
      margin-bottom:100px;
    }

    .width-100 {
        width: 100%;
        height: 240px;
        margin-top: 20px;
    }
   .width-100-w {
    width: 100%;
    height: auto;
    margin-top: -68px;
}
    .border-5 {
        margin-top: 30px;
    }
    .mar-top-30p {
      margin-top: 30px;
    }

    h4.margin-top-20px {
      margin-top: 20px;
    }
    .margin-top-10 {
        margin-top: 30px;
    }
    .margin-top-60 {
        margin-top: 60px;
        margin-left: 30px;
    }
    .border-sccs {
        border: 5px solid lightgrey;
        width: 140px;
        height:140px;
    }

    p.mar-clr-c {
        margin-top: 15px;
        color: grey;
        font-size: 16px;
    }
    .brdr-cl-4 {
        border: 1px solid #dddddd;
        padding: 20px;   

    }

    .set-img-res {
        width: 50px;
        height: 50px;
        margin-top: 15px;
        margin-bottom: -10px;

    }
 .section-head-title {
    text-align: center;
    font-size: 32px;
    font-style: inherit;
    font-weight: bolder;
    font-family: 'Source Sans Pro', helvetica, sans-serif;
    margin-top: 3em;
    margin-bottom: 1.5em;
    text-shadow: 1px 1px #ddd;
    letter-spacing: 2px;
    color: #626e60;
}

  .section-hiw-icon .fa {
    font-size: 46px;
    background-color: #626E60;
    padding-right: 34px;
    padding-left: 32px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 4px 3px #ddd;
}

.row, .row-with-divider {
    margin-bottom: 0em;
}

.navbar {
    margin-bottom: 0px;
    margin-top: 50px;
}

    h2.text-center.style-for-owner-list {
        font-size: 25px;
        letter-spacing: 1px;
        text-shadow: 1px 1px #ddd;
        margin-top: 20px;
    }






    .custom_home_page{
        a.color {
          text-decoration: none;
        }
        .video-section .pattern-overlay {
            background-color: rgba(71, 71, 71, 0.59);
            padding: 110px 0 32px;
            min-height: 496px;
        }
        .video-section h1,
        .video-section h3 {
            text-align: center;
            color: #fff;
        }
        .video-section h1 {
            font-style: inherit;
            font-size: 68px;
            font-family: 'Source Sans Pro', helvetica, sans-serif;
            font-weight: bold;
            margin: 40px auto 0px;
            text-shadow: 1px 1px 1px #000;
            -webkit-text-shadow: 1px 1px 1px #000;
            -moz-text-shadow: 1px 1px 1px #000;
        }
        .video-section h3 {
            font-size: 24px;
            font-weight: bolder;
            font-family: 'Source Sans Pro', helvetica, sans-serif;
            margin: 15px auto 15px;
        }
        .video-section .buttonBar {
            display: none;
        }
        .player {
            font-size: 1px;
        }
        .style-for-input {
            width: 60%;
            border-radius: 5px;
            font-size: 24px;
            border: none;
            padding: 10px;
        }
        .styles-search-icon {
            padding: 12px 40px 12px 40px;
            font-size: 20px !important;
            color: #fff;
        }
        .button-css-search {
            border-radius: 4px;
            background-color: #a84280;
            border-color: transparent;
            display: inline-block;
            padding: 6px;
            padding-bottom: 1px;
        }
        .letter-spacs {
            letter-spacing: 15px;
            margin-top: 5em;
        }
        .style-for-howitworks {
            text-align: center;
            font-size: 28px;
            font-style: inherit;
            font-weight: bolder;
            font-family: 'Source Sans Pro', helvetica, sans-serif;
            margin-top: 3em;
        }
        .style-for-owner-list {
            font-size: 24px;
            font-weight: bolder;
            margin-top: 15px;
        }

        footer.bg-clrs ul {
        list-style: none;
        margin-bottom: -8px;
        }

        footer.bg-clrs li {
            text-align: center;
            margin-top: 16px;
        }

        footer.bg-clrs li a {
            font-size: 16px;
            color: #ddd;
        }
        .margin-top-for-cntainer1 {
            margin-top: 6em;
        }
        .btn:hover.colors {
            color: #d34b9b;
        }
        .style-for-btn-lst-bby-eqpmnt {
            color: #d34b9b;
            background-color: #fff;
            border-color: #d34b9b;
            font-size: 17px;
            margin-top: 30px;
        }
        .margn-top {
            margin-top: 70px;
        }
        .margn-for-usersay {
            margin-top: 50px;
        }
        .margin-top-for-round-img {
            margin-top: 30px;
        }
        .style-fr-userview {
            margin-top: 30px;
            padding-left: 25%;
            padding-right: 25%;
            color: dimgrey;
            margin-bottom: 20px;
        }
        .clr-rgb {
            color: rgb(0, 0, 0);
            font-family: 'Source Sans Pro', helvetica, sans-serif;
            font-size: 16px;
            margin-top: 20px;
        }
        .css-for-undertryit {
            color: dimgrey;
            font-family: 'Source Sans Pro', helvetica, sans-serif;
            font-size: 15px;
        }
        .mrgin-set {
            margin-bottom: -11px;
        }
        .bg-clrs {
            background-color: #3c3c3c;
            color: #fff;
            margin-top: 40px;
        }
        .fstyle-ab {
            font-size: 15px;
            margin-top: 30px;
        }
        .style-copyrights {
            margin-top: 35px;
            color: grey;
            font-size: 12px;
            text-align:center;
        }
        p{
          font-size: 14px;
          font-family: 'Source Sans Pro', helvetica, sans-serif;
          line-height: 24px;
        }
    }

    ul.nav.navbar-nav.navbar-right.font-size-32 {
        font-size: 32px !important;
    }


    ul.nav.navbar-nav.navbar-left.mar-5-tp {
        margin-top: 5px;
    }

    .navbar{ margin-bottom:0px;}
    .navbar-form{width:50%;}
    .navbar-form .input-group{width:420px;}
    .dropdown-menu{width:420px;}
    .dropdown-menu.setting{width:140px;min-width: 143px;}
    .media{ padding:0px 5px; width:100%;}
    .media:first-child{ margin-top:10px;}
    .media .media-left{float:left; margin-right:10px;}
    .media .media-body{float:left;}
}

/*/////////////////*/

@media (max-width: 480px){
  .media-undrhowit {
            margin-left: 8%;
            margin-right: 8%;
        }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .img-media-768px {
      width: 70%;
      margin: 0 auto;
  }
  .text-media-cen {
      text-align: center !important;
  }
  .row.media-fr-marg-btm {
    margin-bottom: 10px;
  }
  p.margin-top-media {
      margin-top: 20px;
  }
  .md-margin-bottom-10 {
    margin-bottom: 40px;
  }
}
@media (min-width: 992px) {
    div.col-md-41 {
        width: 30.33333%;
        margin-left: 10px;
    }
}

@media (min-width: 1200px){
.container.seting {
    width: 1170px;
    padding-left: 15%;
    padding-right: 15%;
}
}


 .navbar {
    border-bottom: none;
}




.navbar-inner{
    /*height: 90px*/
    min-height: 60px
    }
.navbar .brand{
    padding: 0 10px;
}
.navbar .nav > li > a {
    padding: 20px 15px;
    /*padding: 35px 15px;*/
}
.navbar .btn-navbar {
    /*margin-right: 0px;*/
    margin-top:15px;
}
.brand img{
    margin-top: 5px
}
@media (max-width:768px) {
    .brand img{
        margin-bottom: 5px
    }
    .navbar .btn-navbar{
        /*margin-right: -15px;*/
    }
    .navbar .nav > li > a {
        padding: 10px 15px;
    }
}