%h1 OVERVIEW
%p
  This
  document contains all of the legal information you need to know in
  order to use Petstore.com. Please carefully read all of the material
  below, because any use of Petstore.com’s services constitutes a
  contractual agreement. This contract sets out your terms of service
  (the “Terms”) when you use the Petstore.com (“Us,” “Our,”
  “We”) website or any subsidiary services proved by Petstore.com
  (our “Services”).
%h1 ACCEPTANCE OF TERMS
%p
  By
  accessing or using of any of our Services, including browsing our
  website (Petstore.com), you accept these Terms. If you do not agree
  with the Terms, you do not have the right to use our Services. These
  Terms are a binding legal agreement between you and Petstore.com.
%h1 SERVICE
%p
  The
  Petstore.com Service consists of a desktop and mobile web application
  that provides a hybrid peer-to-peer marketplace for pet-related
  services and products.
%p
  With
  one exception (stated in the following paragraph), Petstore.com is
  not a Service Provider or Product Seller. Petstore.com is a
  peer-to-peer marketplace for persons seeking pet products and
  services (“Purchaser”), persons offering pet services (“Service
  Provider”), and persons selling pet products (“Product Seller”)
  to communicate and arrange for the purchase and provision of pet
  goods and services. We make no representations or warranties about
  the quality or legality of pet products or services offered on the
  marketplace by Service Providers or Product Sellers. Petstore.com
  does not employ, recommend, or endorse any Product Sellers or Service
  Providers, nor will Petstore.com be responsible or liable for the
  conduct, quality, performance, or safety of any Service Provider,
  Product Seller, or the products and services they sell. While
  Petstore.com may perform a background check or offer guidance to
  Service Providers or Product Sellers, We make no claims or guarantees
  about the products and services offered, or of those who offer them.
  You are solely responsible for your personal safety and the safety of
  your pet(s).
%p
  As
  a Hybrid peer-to-peer marketplace, Petstore.com does offer some
  commercial products for sale under the user account name Petstore
  with the email
  %a{:href => "mailto:sales@petstore.com"} sales@petstore.com
%p
  All
  transactions (with the exception of products sold by the user account
  Petstore) are between Purchasers and Service Providers or Product
  Sellers. Our Service is to provide a marketplace and facilitate
  payment. Your use of the Services is agreement that We have no
  liability or responsibility for damages, to you or your pet,
  resulting from any use or misuse of our Services. You are responsible
  for determining the quality, safety, and suitability of the service
  or product offered. Although We offer a system for the review of
  Product Sellers and Service Providers, We make no claim that any
  reviews are accurate.
%p
  Purchasers
  are solely responsible for providing Service Providers with emergency
  medical contacts for the care of their pet as well as personal
  contact information for the duration of the service. In case of
  emergency, if you (the Purchaser) are not available to obtain
  immediate care, you (the Purchaser) authorize Us and the Service
  Provider to obtain and provision veterinary care. If We obtain
  emergency veterinary care for your pet, you authorize your
  veterinarian to release your pet records to Us. If you refuse any
  veterinary care suggested by the Service Provider or Us, you release
  the Service Provider and Us for any injury, damage, or liability
  arising from failure to seek veterinary care. Purchasers are solely
  responsible for cost and payment of any emergency medical care. In
  any case where emergency services may be required due to any fault or
  negligence on the part of the Service Provider, Purchasers are solely
  responsible for seeking any remuneration or damages directly from the
  Service Provider.
%p
  Purchasers
  may request a service or product using the Services. When you request
  a service or product, you authorize Us to charge your credit card for
  the requested product or service. In requesting a product or service,
  you agree to pay the cost, plus fees and shipping. If you have
  questions about a product or service but do not want to make a
  transaction, you agree instead to contact the seller using the
  Services.
%p
  Purchasers
  of pet services may only seek services for legally owned, vaccinated,
  and appropriately permitted pets in accordance with all local, state,
  and federal laws.
%p
  Product
  Sellers and Service Providers, you have no obligation to provide a
  product or service until you accept a request from a Purchaser. You
  must accept the Purchaser’s request before it expires or the
  Purchaser is under no obligation to complete the transaction. You may
  use discretion in accepting requests from Purchasers, but you may not
  discriminate against other Users as stipulated in the Terms.
%p
  Purchasers
  and Product Sellers or Service Providers who have entered into an
  agreement are responsible for performing their agreements. We are not
  a party to the agreement and have no obligation to perform any terms,
  excepting the facilitation of payment processing.
%p
  Product
  Sellers of homemade or noncommercial products must provide an
  accurate picture of the exact item offered, not a representative
  product. Purchasers acknowledge that most products sold on the
  Services are home made and may have unique features or imperfections.
  Product Sellers agree not to provide pictures that mask or hide any
  product imperfections.
%p
  Service
  Providers must provide accurate pictures of any service areas, such
  as grooming or boarding facilities.
%p
  You
  authorize Us to charge a listing, referral, or service fee on every
  transaction as stipulated in the Terms. Currently, we assess a 10%
  service fee on every transaction based on the total amount paid by
  the Purchaser.
%p
  Reviews
  are an important part of the Services. You agree to only post
  information in reviews and feedback that accurately reflects your
  personal experiences. You may not use the Services to provide false
  or misleading information. If you are a Product Seller or Service
  Provider, you expressly may not post negative reviews for the purpose
  of drawing business from or hindering the business interests of
  another Product Seller or Service Provider.
%p
  Purchasers
  of pet services are required to collect their pet at the end of any
  agreed service. Failure to retrieve a pet on time will result in
  additional charges and fees.
%p
  If
  a pet has not been retrieved within seven days of the completion of
  service, regardless of communication with the Service Provider or Us,
  such abandonment of the pet will result in the pet being placed in
  foster care or under the care of animal control authorities.
  Purchasers of pet services agree to authorize Us to charge your
  method of payment for any costs we incur as a result of your failure
  to retrieve your pet.  You agree to indemnify Us from any additional
  costs or expenses we, or you, may incur as a result of your failure
  to retrieve your pet.
%h1 PRIVACY
%p
  Petstore.com
  will not sell, share or rent your personal information to any outside
  parties, except as outlined in this policy. We collect information
  from you to process orders and better serve you with pertinent
  information, such as order confirmations and order status updates.
  Information collected includes but is not limited to your name,
  shipping address, billing address, telephone numbers, email address
  and payment information, such as your credit/debit card number.
%p
  You
  agree to allow Us to provide your shipping or service address and
  contact information to any Product Seller or Service Provider with
  whom you have requested a transaction. You agree that Petstore.com
  and any Purchaser, Product Seller, or Service Provider with whom you
  interact on the Services are independent data controllers or
  Purchaser’s personal information. We are only responsible for Our
  use and storage of your personal information. Once we release or
  share your personal information as stipulated in the Terms, We are
  not responsible for any use or misuse of your information by an
  independent data controller.
%p
  Product
  Sellers and Service Providers are only granted use of any user’s
  personal information for the express purposes of the marketplace. You
  may not sell, share, or rent any personal information you have come
  to possess as a data controller through use of the Services. If We
  incur any fines, damages, or expenses as a result of your use (or
  misuse) of data you control, you agree to indemnify Petstore.com for
  any expenses it occurs in connection with your use or misuse of user
  personal information. You agree that you are responsible to
  remunerate us for any cost or expense related to your misuse of user
  personal information.
%h1 ACCOUNT
%p
  All
  users must create an account with Petstore.com to use some of our
  Services. To create and have an account with Petstore.com, you must:
%ul
  %li
    %p
      Be 18
      years or older. Minors (at least 13 years of age) are only permitted
      to use our Services through the account of a parent or legal
      guardian with their permission and direct supervision. Children
      under the age of 13 are not permitted to use our Services. You are
      solely responsible for any activity conducted by a minor on your
      account.
  %li
    %p
      Be a
      permanent resident of the United States.
  %li
    %p
      Choose a
      user name that does not have language that is offensive, vulgar,
      infringes the intellectual property of others, or violates the
      Terms. Petstore.com reserves the right to reject a user name based
      on Our subjective judgment on what constitutes a breach of this
      requirement.
  %li
    %p
      Protect
      your password.
  %li
    %p
      Comply
      with all laws and ordinances applicable to your use of our Services.
%p
  %br
  %br
%p Eligibility
%p
  Purchasers
  of pet services must ensure that your pet(s) are vaccinated and
  licensed as required by local law.
%p
  For
  Service Providers, this includes that you are legally eligible to
  work in the jurisdiction where you provide Pet Care Services, you
  have complied and will comply with all federal, state, county,
  municipal and other laws, statutes and ordinances that are applicable
  to you, and you have obtained all business licenses, permits, and
  fulfilled any other necessary requirements to legally provide pet
  care services.
%h1 CONTENT
%p
  Any
  content that you post, upload, submit, or otherwise contribute while
  using our Services is your Content. For example, Your Content
  includes but is not limited to your user name, pictures, listing
  description, listing photos, comments, messages, and reviews.
  Petstore.com makes no claims to Your Content.
%p
  By
  posting or contributing Your Content, you grant Petstore.com a
  license to use it. By posting Your Content, you grant Petstore.com an
  irrevocable, non-exclusive, worldwide, royalty-free, sub-licensable,
  perpetual license to use, transmit, copy, display, edit, modify,
  reproduce, distribute, store, and prepare derivative works of Your
  Content. This license is necessary for Petstore.com to promote your
  store through our Services. You recognize Our legitimate right to use
  Your Content.
%p
  You
  are solely responsible for your content. You represent that you have
  the legal right to Your Content and that you are not infringing or
  violating any other party’s rights. You represent that you have the
  rights to grant the license in Section 5.2
%p
  You
  agree that you will not submit any inappropriate, false, or
  misleading content. You will not post content that is pornographic,
  obscene, vulgar, racist, threatening, abusive, depictive of nudity or
  graphic violence, defamatory, or that violates the rights of others.
  We reserve the right to use Our subjective judgment on what
  constitutes such Content.
%p
  Petstore.com
  reserves the right to monitor, edit, and remove Your Content at any
  time for any reason.
%p
  Petstore.com
  has no obligation to store, retain, or provide you with copies of
  Your Content. We have no liability to you for any loss, deletion, or
  modification of Your Content.
%h1 Use
%p
  Petstore.com
  grants you a limited, non-exclusive, non-transferable, and revocable
  license to use our Services. Your license to use our Services is
  limited to the Terms and restrictions disclosed throughout this
  agreement.
%p
  You
  agree that you will only use the Services in a lawful manner for
  their intended purposes.
%p
  You
  agree that you will not break any laws in connection to your use of
  the Services, including any laws and regulations (local, state,
  federal, international) that may apply to you or your pet. You agree
  that you will not sell any product, offer any service, or seek any
  pet service that violates any laws.
%p
  You
  may not discriminate based on race, color, ethnicity, national
  origin, disability, religion, sexual orientation, gender identity,
  marital status, or any basis protected by civil rights laws.
  Non-discriminatory use of the Services includes: (a) You may not
  decline a request for a transaction based on any of the above
  categories; (b) you may not post any Content on the Services that
  implies or indicates discrimination in any of the above categories
  (c) You will offer the same terms, conditions, and prices without
  discrimination based on the above categories; (d) You will not refuse
  to provide reasonable accommodations to persons with disability.
%p
  You
  agree that you will not (a) crawl, scrape, spider, reverse engineer,
  or attempt to obtain the Service’s source code or scripts or
  personal information of other users; (b) interfere with or disrupt
  the Services; (c) submit or distribute a virus, malware, or other
  harmful computer code.
%p
  You
  agree that you will not: (a) use the Services to connect with another
  user and then complete transactions outside the marketplace; (b) use
  the Services in any way that violates the law; (c) send “spam” or
  any sort of communication not authorized by or within the intended
  scope of the Services; (d) solicit personal or user information,
  including username and password.
%p
  You
  agree and represent that you have any permits and licenses required
  for you to legally operate as a Service Provider or Product Seller.
%p
  You
  agree and represent that you have any necessary licenses and
  vaccinations for your pet, that you have the legal right to own your
  pet, and that your pet is not a danger. You may not seek services for
  a pet that has harmed another pet or person. You may not seek
  services for venomous pets or pets that pose a potential threat to
  another person or pet.
%p
  You
  agree that you will (a) provide accurate and true information that
  does not misrepresent your identity, personal information, products,
  or services; (b) not transfer or authorize use of Your account on the
  Services to another person; (c) submit honest and accurate review and
  feedback Content that truthfully depicts your own experiences.
%p
  You
  agree and accept that all Content must be directly limited to pet
  care products and pet services. Product Sellers other than
  Petstore.com may only list noncommercially produced (home made), hand
  made or small batch, products that are new and unused.
%p
  You
  are responsible for paying for any transactions you make using Our
  Services, including all fees that you owe Us. You are solely
  responsible for collecting and paying any applicable taxes, tariffs,
  assessments and charges assessed or levied against the products
  and/or services for any provision, purchase, or sale you make through
  the Services.
%p
  Petstore.com
  reserves the right to adjust prices at its discretion with proper
  notice to Purchaser. In the event a product listed under the user
  account Petstore is labeled with an incorrect price due to some
  typographical, information, technical or other error, Petstore.com
  shall at its sole discretion have the right to refuse and/or cancel
  any order for said product and immediately amend, correct and/or
  remove the inaccurate information.
%p
  You
  authorize Us to charge your credit card or process your payment
  method for fees and charges you incur using the Services. You are
  required to provide Us with valid and up to date payment information.
  You agree that We are not responsible for any failure to provide
  services that result because We cannot charge your credit card or
  otherwise process your payment.
%p
  If
  a Purchaser wishes to cancel a request for pet service, the Purchaser
  must do so at least twenty four (24) hours prior to the time of
  service or shipment of the product.
%p
  Delivery
  will be F.O.B. point of shipment. Unless otherwise directed by
  Purchaser, Petstore.com will pre-pay the freight and bill Purchaser
  for shipping and handling charges. Purchaser assumes all risk of loss
  during delivery of products. In the absence of instructions to the
  contrary, Petstore.com or the Product Seller, on behalf of the
  Purchaser, shall exercise its own discretion as to the method of
  shipment to be used and the selection of the carrier but shall not be
  deemed thereby to assume any liability in connection with the
  shipment nor shall the carrier thereby be deemed an agent of
  Petstore.com.
%p
  If
  any package is lost or damaged in transit, the Purchaser must contact
  the Product Seller for a resolution. In such cases, the Product
  Seller is obligated to file a damage claim or missing package trace
  with the carrier. If the Product Seller is offering insurance on the
  shipment, the Product Seller is required to procure and pay for
  shipping insurance.
%p
  No
  goods shall be returned for credit, exchange, or refund without prior
  Return Merchandise Authorization (RMA) from Petstore.com. All goods
  returned without such prior authorization will not be accepted by
  Petstorec.om and will be returned to the purchaser freight collect.
%p
  You
  accept that, unless expressly provided in the Terms, all fees paid
  through use of the Services are non-refundable.
%p
  %a{:name => "_GoBack"}
  Products and services are net due upon purchase. Purchaser shall pay
  interest on any invoice not paid when due from the due date to the
  date of payment at the rate of one and one-half (1–1/2%) percent
  per month or such lower rate as may be the maximum allowable by law.
  If the Purchaser fails to make payment when due, Petstore.com may
  pursue any legal or equitable remedies, in which event Petstore.com
  shall be entitled to reimbursement for costs of collection and
  reasonable attorney’s fees. There shall be no time limit as to when
  Petstore.com shall pursue any legal or equitable remedies. Reasonable
  annual costs of collection and attorney fees shall be defined as the
  greater of a maximum of $50,000, one hundred percent (100%) of
  compounded collection amount, or maximum allowable by law.
%p
  You
  accept and agree that We charge a listing, service, or referral fee
  on some transactions. By requesting or accepting a transaction You
  authorize Us to charge your provided payment method and accept all
  fees and charges related to the transaction.
%p
  Product
  Sellers and Service Providers will receive payment typically within
  one business day of a completed transaction. A transaction is
  complete when the Purchaser marks the transaction complete on the
  Services. Once these amounts have been disbursed, any further payment
  disputes are between the Purchaser and Product Seller or Service
  Provider; Petstore.com has no further obligation to mediate between
  the parties.  
%p
  Purchasers
  of pet services acknowledge that failure to retrieve a pet will
  result in additional service charges based on the service rate
  established by the Service Providers listings or, in the absence of
  an established rate, a prorated amount up to one hundred ($100) US
  dollars per day of care. Purchasers agree and authorize Us to charge
  payment for any additional costs and expenses as a result of Your
  failure to retrieve Your pet.
%p
  If
  We determine according to our reasonable discretion that a Product
  Seller or Service Provider has not provided the product or service as
  listed, We may issue a whole or partial refund to a Purchaser.  In
  such cases, the Product Seller or Service Provider is responsible to
  reimburse Us for any amount refunded to the Purchaser.
%p
  If
  a Service Provider cancels a service after it has been accepted, We
  will refund the Purchaser for any unprovided services. Service
  Providers that cancel services may have their use of the Services
  suspended or terminated.
%p
  The
  cancellation policies described in the terms may not apply in certain
  emergency situations beyond the control of the Service Provider, such
  as extreme weather or other natural disaster.
%h1 SUSPENSION AND TERMINATION
%p
  You
  may terminate your account at any time from your account settings.
%p
  You
  do not have any contractual right to use the Services. You understand
  and agree that We have no obligation to provide the Services to You,
  nor any obligation to continue providing it once we have begun. We
  may terminate or suspend Your account (including any related
  accounts) and your access to the Services for any reason, at any
  time, and without advance notice. We may refuse service to anyone, at
  any time, for any reason.
%p
  Termination
  of your account, by You or Us, may result in a loss of information
  associated with your account, including your Content.
%p
  The
  Terms will remain in effect after your access to the Services is
  suspended, terminated, or otherwise ends.
%h1 LIABILITIES
%p
  Users
  of the marketplace are solely and fully responsible to evaluate and
  investigate other users of the marketplace.
%p
  You
  use the Services at your own risk. Petstore.com does not guarantee
  that the Services will be available at any particular time, that the
  Services will be free of defects or errors, that the Services will be
  free of viruses or malware, or that the Services will meet your
  expectations.
%p
  We
  disclaim, and you expressly release Us from, any and all liability
  whatsoever related to instances of any interactions between you and
  other users of the Services, including acts and omission of acts by
  Purchasers, Product Sellers, and Services Providers, both online and
  offline. Your use and provision of services and products is at your
  sole and exclusive risk.
%p
  To
  the maximum extent permitted by applicable law, under no
  circumstances or event will Petstore.com or any of Our employees be
  liable for any damages whatsoever arising out of or relating to the
  conduct of you or anyone else in connection with the Services,
  including without limitation, bodily injury, emotional distress, or
  any other damages resulting from the Content posted on or transmitted
  through the Services, or for any interactions with other users of the
  Services, whether or not damage, harm, or distress occurs through
  direct use, indirectly, or apart from use of the Services, including
  losses or damages arising from users who attempt to defraud or harm
  you. In no event shall
  Petstore.com’s aggregate liability for any damages exceed one
  hundred ($100) US Dollars (USD) or the amount You paid Petstore.com
  in the past twelve (12) months for service, listing, or referral
  fees. Some jurisdictions do not allow this limitation, so the above
  limitations may not apply to you.
%p
  You
  release us from all liability relating to your interactions with
  other users. You understand that, although we may attempt to verify
  the information of users of the Services, we do not screen users of
  our Services and make no assertions or guarantees about users.
  Exercise caution and sound judgment whenever you interact with other
  users of the Services, especially if you are meeting in person or
  granting a user access to your pet or residence.
%p
  Petstore.com
  will not be liable for any objectionable or offensive content you
  encounter through use of the Services. Although Petstore.com actively
  removes content We deem objectionable, offensive, misleading, or
  inaccurate, Petstore.com is not responsible for the accuracy,
  copyright compliance, legality, or decency of any content posted by
  users that you access through the Services. You release us from all
  liability relating to that content.
%p
  The
  Services may contain links to third-party websites or services that
  we do not control, such as Facebook or Instagram. When you access any
  third-party services, you do so at your own risk.
%h1 WARRANTIES
%p
  You
  understand that our Services are provided “as is” and without any
  kind of warranty (express or implied). We expressly disclaim any
  warranties of title, non-infringement, merchantability, and fitness
  for a particular purpose, as well as any warranties implied by a
  course of performance, course of dealing, or usage of trade.
%p
  You
  understand that, with the exception of some products listed by the
  user account Petstore with the email address sales@peststore.com, We
  do not store or inspect any of the products sold through our
  Services. Petstore.com provides the venue, but the products are
  produced, listed, and sold directly by independent sellers. As such,
  we make no warranty about their quality, safety, or legality. All
  legal claims related to products you purchase through the Services
  must be brought directly against the independent seller of that
  product. You release Petstore.com from any claims related to products
  sold through our Services, including but not limited to products that
  are defective, misrepresented by the sellers, or cause harm.
%p
  You
  understand that Petstore.com does not offer pet care services.
  Petstore.com provides a venue for Purchasers to arrange pet care
  services with Service Providers, but we do not offer, provision, or
  perform pet care services. As such, we make no warranties or claims
  about the quality, safety, or legality of any pet care services
  offered on this marketplace. All legal claims related to services you
  procure through use of our Services must be brought directly against
  the independent Service Provider. You release Petstore.com from any
  claims related to services offered or provisioned through our
  Services, including any service that was fraudulent, misrepresented
  by the sellers, or resulted in harm to a person or pet, or damage to
  property.
%h1 DISPUTES
%p
  You
  are solely responsible to resolve any dispute with another user of
  the Services or third party. In our sole discretion, Petstore.com may
  attempt to help resolve a dispute between parties in good faith based
  on our interpretation of our policies and Terms. Petstore.com has no
  obligation to resolve any disputes.
%h1 ARBITRATION
%p
  You
  and Petstore.com agree that any dispute or claim arising from or
  relating to the Terms or use of the Services shall be settled through
  final and binding arbitration, rather than in a court, using the
  English language, by an independent arbiter mutually agreed upon by
  the parties. The arbiter will decide the substance of all claims in
  accordance with the laws of California and will honor all claims of
  privilege recognized by law. Any arbitration will take place on an
  individual basis. Class arbitrations and class actions are
  prohibited. You understand that by agreeing to the Terms, you and
  Petstore.com are each waiving the right to trial by jury or to
  participate in a class action or class arbitration. If any term,
  clause, or provision of this arbitration agreement is held invalid or
  unenforceable, it will be so held to the minimum extent required by
  law, and all other terms, clauses, and provisions of this section
  will remain valid and enforceable.
%h1 INDEMNITY
%p
  You
  agree to defend, indemnify, and hold Petstore.com harmless from any
  legal claim or demand, including attorney’s fees, that are in any
  way related to your actions, your use (or misuse) of the Services
  (online or offline), your breach of the Terms, your interactions
  (including transactions and disputes) with other users of the
  Services, property or personal damage caused by or to you or your pet
  or to a pet in your care, your Content, or your infringement of
  someone else’s rights. We reserve the right to handle and control
  our legal defense as we see fit. You agree that you will cooperate
  with us in any matter subject to indemnification and that you will
  not settle any such claim without our advance written consent.
%h1 INTELLECTUAL PROPERTY
%p
  Your
  use of the Services does not grant You the right or permission to use
  of Our trademarks or intellectual property. The name “Petstore.com”
  and the Petstore.com logos, designs, marks, and phrases that We use
  in connection with the Services are trademarks, service marks, and
  trade dress that are Our intellectual property.
%p
  You
  agree that the Services (excluding your Content), including but not
  limited to logos, graphics, user interface, media, editorial content,
  scripts, and software used to implement the Services, contain
  proprietary information that is owned by Petstore.com and/or its
  licensors, and is protected by applicable intellectual property and
  other laws, including but not limited to copyright. You agree that
  you will not use any such proprietary information or materials except
  for use of the Services for personal, noncommercial use in compliance
  with the Terms. Your right to access and use the Services does not
  license or convey any of Petstore.com’s proprietary rights to
  anyone, including you. You agree not to modify, rent, loan, sell, or
  distribute the Services or content in any manner.
%p
  Petstore.com
  is committed to respecting intellectual property rights and to
  removal of any content on the Services that infringes upon the
  intellectual property, trademark, or copyright of any party. If you
  are the owner or right holder of content that has been illegitimately
  posted to the Services and you want it removed, please contact
  %a{:href => "mailto:sales@petstore.com"} sales@petstore.com
  with your
  claim. If your Content is found to infringe upon the intellectual
  property rights of others, you will be warned, your infringing
  Content will be removed, and, in the case of repeated infringements,
  your account will be terminated.
%h1 CHANGES TO TERMS
%p
  We
  reserve the right to change or update the Terms. We will notify you
  through the Services or through email of any changes to the terms we
  believe to be material. Unless otherwise specified, changes will be
  effective upon the posting of the changes. Your use of the Services
  following any changes to the Terms constitutes your acceptance of the
  updated Terms.
%h1 MISC
%p
  Nothing
  in the Terms makes either party the employer, employee, partner,
  agent, contractor, legal representative, joint venturer, franchiser,
  franchisee of the other. The slogan “Pet Care Partner” does not
  establish, convey, or imply any partnership between Petstore.com and
  any other party. A Pet Care Partner is an independent party operating
  as a Product Seller or Service Provider that offers products and/or
  services to a Purchaser through the Services.
%p
  The
  Terms supersede any other agreement between you and Petstore.com
  regarding the Services. If any term or provision in these Terms is
  deemed invalid, illegal, or unenforceable, that clause, term, or
  provision will in no way affect the validity, legality, or
  enforceability of any other portion of these Terms. In the event a
  term, or portion of a term, is determined to be invalid or
  unenforceable, the parties agree to substitute a term that is valid
  and enforceable that comes closest to expressing the term that was
  deemed invalid or unenforceable.
%h1 CONTACT
%p
  For
  any questions about the Terms, please contact Petstore.com by email
  at
  %a{:href => "mailto:sales@petstore.com"} sales@petstore.com
  or by
  mail (postage prepaid) at Petstore.com, 14271 Corporate Drive, Garden
  Grove, CA, 92843.
%p
  %br
  %br
%p
  %br
  %br
%p
  %br