<!DOCTYPE html>
<html>
<head>
	<title>Petstore</title>
	<%#= stylesheet_link_tag "landing_page_new/base" %>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyBBcXaseBeFQumBF1drulBHUTDSJ3ijiUs"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport"/>
	<meta content="website" property="og:type"/>
	 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
	 <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	 <style type="text/css">
	.col-md-12.action-wrapper-1 {
    background: #ddd url(assets/action-wrapper-1.png);
    height: 600px;
    box-shadow: 0 0 5px 1px #ccc;
    background-size: cover;
    background-repeat: no-repeat;
} box-shadow: 0 0 5px 1px #ccc;

  .contain {
    background: url(assets/pets-bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
}

@media (max-width: 480px) {
	.col-md-12.action-wrapper-1 {

    height: 680px;

  
}

.col-md-6.sml-screen {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
}

@media (max-width: 350px) {
	.col-md-12.action-wrapper-1 {

    height: 835px;
  
}

.col-md-6.sml-screen {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

}


	 </style>
</head>
<body class="homepage">
   <%= render partial: 'layouts/global_header', locals: header_props()%>

<%= yield %>

<script type="text/javascript">
    $('#iconified').on('keyup', function() {
    var input = $(this);
    if(input.val().length === 0) {
        input.addClass('empty');
    } else {
        input.removeClass('empty');
    }
});
</script>

</body>
</html>